<div class="collapse navbar-collapse" id="navItems" style="display: flex; flex-direction: column;
 align-items: center; background-color: rgb(236, 236, 222); height: 60px; margin-bottom: 50px;">
  <div class="navbar-nav" style="padding: 10px;">
    <a class="nav-item nav-link" color="primary" routerLink="/addcontact" style="margin-right: 10px; width: 100px; ">Add new contact</a>
    <a class="nav-item nav-link"   routerLink="/" style="margin-right: 10px; width: 150px;">Home </a>
  </div>
</div>
<router-outlet></router-outlet>
