<div>
   <mat-form-field appearance="standard" style="overflow:auto; display: flex; flex-direction:column; width: 300px; margin-left: 20px; ">
   <input matInput (keyup)="applyFilter($event)" placeholder="General Filter" #input  >
  </mat-form-field>

  <mat-form-field appearance="standard" style="overflow:auto; display: flex; flex-direction:column; width: 300px; margin-left: 20px; ">
    <input matInput  placeholder="Name Filter" #input>
  </mat-form-field>

  <mat-form-field appearance="standard" style="overflow:auto; display: flex; flex-direction:column; width: 300px; margin-left: 20px; ">
     <input matInput placeholder="Last Name Filter" #input>
  </mat-form-field>

  <mat-form-field appearance="standard" style="overflow:auto; display: flex; flex-direction:column; width: 300px; margin-left: 20px; ">
      <input matInput  placeholder="Manager Name Filter" #input>
  </mat-form-field>

  <mat-form-field appearance="standard" style="overflow:auto; display: flex; flex-direction:column; width: 300px; margin-left: 20px; ">
   

    <input matInput  placeholder="Team Name Filter" #input>
  </mat-form-field>

  <button mat-fab aria-label="Example icon button with a heart icon" (click)="onAdd()"
    style="background-color:rgb(51, 151, 233);  border: none; margin-left:150px; margin-top:10px; margin-bottom: 30px; align-self: left;">
    <mat-icon aria-label="Add">add</mat-icon>
  </button>
</div>
  
    <mat-table  [dataSource] = "dataSource" matSort  class="mat-elevation-z8"  (matSortChange)="onSortChanged($event)" style="margin-top: 30px;;">
    <mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: rgb(132, 232, 239);"></mat-header-row>
    <mat-row *matRowDef="let row; columns:displayedColumns;" ></mat-row>
    
    
    
    <ng-container matColumnDef="Id"  >
      <mat-header-cell *matHeaderCellDef mat-sort-header  >Id</mat-header-cell>
      <mat-header-cell *matCellDef="let element" >{{element.id}}</mat-header-cell>
    </ng-container>
    
    <ng-container matColumnDef="Name" >
        <mat-header-cell *matHeaderCellDef mat-sort-header  >Name</mat-header-cell>
        <mat-header-cell *matCellDef="let element" >{{element.name}}</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="Last Name" >
        <mat-header-cell *matHeaderCellDef mat-sort-header  >Last Name</mat-header-cell>
        <mat-header-cell *matCellDef="let element" >{{element.lName}}</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="Gender" >
        <mat-header-cell *matHeaderCellDef mat-sort-header  >Gender</mat-header-cell>
        <mat-header-cell *matCellDef="let element" >{{element.gender}}</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="Phone Number" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number</mat-header-cell>
        <mat-header-cell *matCellDef="let element" >{{element.phoneNumber}}</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="Team" >
        <mat-header-cell *matHeaderCellDef mat-sort-header  >Team</mat-header-cell>
        <mat-header-cell *matCellDef="let element" >{{element.team.name}}</mat-header-cell>
      </ng-container>
    
      <ng-container matColumnDef="Manager" >
        <mat-header-cell *matHeaderCellDef mat-sort-header>Manager</mat-header-cell>
        <mat-header-cell *matCellDef="let element" >{{element.directBoss.fullName}}</mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="Options" >
        <mat-header-cell *matHeaderCellDef >Options</mat-header-cell>
        <mat-cell *matCellDef="let row" >
          <button mat-icon-button style="background-color: white; border: none; color: blue;" (click)="onEdit(row)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button style="background-color: white;  border: none; color: red;" (click)="onDelete(row.id)">
              <mat-icon aria-label="Delete" >delete</mat-icon>
            </button>
        </mat-cell>
      </ng-container>
      </mat-table>
      <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>

     
 